# =========================================
# Gradle
# =========================================
.gradle/
**/build/


# =========================================
# IDE & Editor Files
# =========================================
# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# STS & Eclipse
.classpath
.project
.settings/
.springBeans
.sts4-cache
.apt_generated
.factorypath

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/


# =========================================
# Build Output & Logs
# =========================================
/bin/
/out/
/logs/


# =========================================
# Secrets & Environment Files (DO NOT COMMIT)
# =========================================
# Environment variables
.env
.env-local
.env-prod
.env-test

# Private Keys
core/src/main/resources/keys/resona-bucket-private-key.pem
application/src/main/resources/fcm-firebase.json


# =========================================
# OS Specific Files
# =========================================
# macOS
.DS_Store
.AppleDouble
.LSOverride