<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="JSONConfigDemo" packages="com.synapps.atch">
    <Properties>
        <Property name="mongoDbConnectionString">${sys:LOG_MONGODB_CONNECTION_STRING}</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT">
            <ThresholdFilter level="DEBUG"/>
            <PatternLayout>
                <Pattern>%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue} %style{${sys:PID}}{magenta} [%15.15t] %style{%-40.40C{1.}}{cyan} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</Pattern>
            </PatternLayout>
        </Console>
        <NoSql name="MongoDbAppender">
            <MongoDb4 connection="${mongoDbConnectionString}" />
        </NoSql>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="STDOUT"/>
        </Root>
        <Logger name="com.synapps.atch" level="DEBUG" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="MongoDbAppender"/>
        </Logger>
        <Logger name="org.springframework.security" level="DEBUG" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
    </Loggers>
</Configuration>